In [6]:
import pandas as pd
import seaborn as sns
import numpy as np

In [7]:
titanic = sns.load_dataset("titanic")

In [8]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [17]:
dicionario= pd.DataFrame([
    {"variavel": "survived",
     "descricao":"Informa se sobreviveu ou não aou naufragio. 0=nao 1=sim",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "pclass",
     "descricao": "classe do passageiro. 1 = 1ª classe, 2 = 2ª classe, 3 = 3ª classe",
     "tipo": "qualitativa",
     "subtipo": "ordinal"},
    
    {"variavel": "sex",
     "descricao": "Sexo do passageiro. male=masculino, female=feminino",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "age",
     "descricao": "Idade do passageiro",
     "tipo": "quantitativa",
     "subtipo": "discreta"},
    
    {"variavel": "sibsp",
     "descricao": "número de irmãos e/ou companheiro abordo",
     "tipo": "quantitativa",
     "subtipo": "discreta"},
    
    {"variavel": "parch",
     "descricao": "número de pais e/ou filhos abordo",
     "tipo": "quantitativa",
     "subtipo": "discreta"},
    
    {"variavel": "fare",
     "descricao": "valor pago pela passagem",
     "tipo": "quantitativa",
     "subtipo": "continua"},
    
    {"variavel": "embarked",
     "descricao": "nome do porto onde embarcou",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "class",
     "descricao": "equivalente ao pclass. 1 = 1ª classe, 2 = 2ª classe, 3 = 3ª classe",
     "tipo": "qualitativa",
     "subtipo": "ordinal"},
    
    {"variavel": "who",
     "descricao": "categoria do passageiro. Homem, mulher ou criança",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "adult_male",
     "descricao": "verifica se o passageiro é um homem adulto ou não. False=nao True=sim",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "deck",
     "descricao": "area onde a cabine do passageiro está localizada",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "embark_town",
     "descricao": "cidade onde o passageiro embarcou",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "alive",
     "descricao": "verifica se o passageiro sobreviveu ou não. False=nao True=sim", 
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "alone",
     "descricao": "verifica se o passageiro estava sozinho no navio ou não. False=nao True=sim",
     "tipo": "qualitativa",
     "subtipo": "nominal"}])

In [18]:
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Informa se sobreviveu ou não aou naufragio. 0=...,qualitativa,nominal
1,pclass,"classe do passageiro. 1 = 1ª classe, 2 = 2ª cl...",qualitativa,ordinal
2,sex,"Sexo do passageiro. male=masculino, female=fem...",qualitativa,nominal
3,age,Idade do passageiro,quantitativa,discreta
4,sibsp,número de irmãos e/ou companheiro abordo,quantitativa,discreta
5,parch,número de pais e/ou filhos abordo,quantitativa,discreta
6,fare,valor pago pela passagem,quantitativa,continua
7,embarked,nome do porto onde embarcou,qualitativa,nominal
8,class,"equivalente ao pclass. 1 = 1ª classe, 2 = 2ª c...",qualitativa,ordinal
9,who,"categoria do passageiro. Homem, mulher ou criança",qualitativa,nominal
10,adult_male,verifica se o passageiro é um homem adulto ou ...,qualitativo,nominal
11,deck,area onde a cabine do passageiro está localizada,qualitativa,nominal
12,embark_town,cidade onde o passageiro embarcou,qualitativa,nominal
13,alive,verifica se o passageiro sobreviveu ou não. Fa...,qualitativa,nominal
14,alone,verifica se o passageiro estava sozinho no nav...,qualitativa,nominal

In [19]:
qualitativas=dicionario[dicionario['tipo']=='qualitativa'].variavel.tolist()

In [20]:
quantitativas=dicionario[dicionario['tipo']=='quantitativa'].variavel.tolist()

In [24]:
qualitativas

['survived',
 'pclass',
 'sex',
 'embarked',
 'class',
 'who',
 'deck',
 'embark_town',
 'alive',
 'alone']

In [25]:
quantitativas

['age', 'sibsp', 'parch', 'fare']